MONGODB_URI=
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SEED_ADMIN_NAME=EasyShop Admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=
